@import "kouto-swiss"

@import "fonts"

@import "helpers"
@import "genericons"

meyer-reset()
box-sizing-reset()
normalize()

// GRID OF 12 90px COLUMNS WITH 16px GUTTER
$cols = 24
$col = 32px
$gutter = 14px
.container
  margin: 0 auto
  width: ($col * $cols)+($gutter * $cols)
.row
  clear: both
.col
  float: left
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)
  min-height: 1px

for col in 1..$cols
  .s{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )

@media screen and (min-width: 601px)

  for col in 1..$cols
    .m{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

@media screen and (min-width: 993px)

  for col in 1..$cols
    .l{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

// FLUID COLS
.percent-col
  float: left
  box-sizing: content-box
$pcols = 10
for pcol in 1..$pcols
  .s-into-{pcol}
    width: ( 100% / pcol )

@media screen and (min-width: 601px)

  for pcol in 1..$pcols
    .m-into-{pcol}
      width: ( 100% / pcol )

@media screen and (min-width: 993px)

  for pcol in 1..$pcols
    .l-into-{pcol}
      width: ( 100% / pcol )

// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 15px
$font-leading-basic = 1.35em
$font-tracking-basic = 0.001em

$color-black-soft = rgb(14, 14, 14)
$color-white-soft = rgb(253, 253, 253)

$border-width = 2px

// TYPOGRAPHY

html
  font-family: sans-serif

body
  font-family: 'Gotham HTF'
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic

  &.loading #main-content
    opacity: 0

.font-century-gothic
  font-family: 'Century Gothic'

.font-condensed
  font-family: 'Gotham HTF Condensed'

.font-weight-medium
  font-weight: 500

.font-italic
  font-style: italic

h1, h2, h3, h4, h5, h6
  line-height: $font-leading-basic
  font-weight: bold

h1
  font-size: 3em
  font-family: 'Century Gothic'

h2
  font-size: 2em
  font-family: 'Century Gothic'

h3
  font-size: 1.5em
  font-family: 'Century Gothic'

p
  margin-bottom: 1em

blockquote
  font-weight: bold
  font-size: 1.3rem
  line-height: $font-leading-basic

.copy
  font-size: 1.1rem
  line-height: $font-leading-basic
  p, h1, h2, h3, h4, h5, h6
    margin-left: $col + ($gutter * 1.5)
    margin-right: $col + ($gutter * 1.5)
    margin-bottom: $margin-basic
  iframe
    margin: 0 auto $margin-basic auto
    width: 100%
  img
    display: block
    margin: 0 auto $margin-basic auto

#featured-copy
  p, h1, h2, h3, h4, h5, h6
    margin: 0 $col + ($gutter * 1.5) $margin-basic $col + ($gutter * 1.5)

.indent
  margin-left: ( 1 * $col ) + ( ( 1 - 1 ) * $gutter )

// LINKS

a, a:active, a:visited
  color:inherit
  text-decoration: none


// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto

.rotate-text
  writing-mode: vertical-rl
  transform: rotate(180deg)

// STRUCTURE

#main-content
  padding-top: $margin-basic
  transition: opacity 300ms

// HEADER

#header-advert-space
  padding-top: $margin-small
  padding-bottom: $margin-small

#header
  margin-top: $margin-basic
  margin-bottom: $margin-basic
  .logo
    height: 3rem
    width: auto

// DRAWERS

.header-drawer
  display: none
  padding: $margin-mid 0 $margin-large 0
  margin-bottom: $margin-basic
  font-size: 2rem
  font-weight: bold

#drawer-radio
  padding-bottom: $margin-mid

// CATEGORIES

#drawer-categorias-list
  li.cat-item
    display: inline-block
    padding: $margin-basic $margin-mid


// FOLLOW

#drawer-follow
  text-align: center


// HOME: FEATURED POST

#featured-post
  padding-bottom: $margin-large
  margin-bottom: $margin-large

#featured-post-container
  max-height: 50vh
  min-height: 400px
  display: flex
  justify-content: flex-start
  align-items: flex-end

#featured-post-title-holder
  flex: 1 0 auto
  max-height: 50vh
  min-height: 400px

#featured-post-title
  font-size: 3rem
  max-height: 50vh
  min-height: 400px

#featured-post-subtitle-holder
  flex: 1 0 auto
  max-height: 50vh
  min-height: 400px
  margin: 0 $margin-basic

#featured-post-subtitle
  font-size: 2.5rem
  max-height: 50vh
  min-height: 400px

#featured-post-image-holder
  flex: 1 0 auto
  max-height: 50vh
  min-height: 400px
  margin: 0 $margin-small
  max-width: ( 16 * $col ) + ( ( 16 - 1 ) * $gutter )

#featured-post-image
  display: block
  max-width: ( 16 * $col ) + ( ( 16 - 1 ) * $gutter )
  width: auto


// HOME POSTS FEED

.posts-feed
  margin-bottom: $margin-large

.feed-post,
.noticias-container
  position: relative
  margin-bottom: $margin-large

.feed-post-container
  margin: 0
  float: right

.feed-category
  font-size: 2rem
  text-align: center

.feed-title
  font-size: 1.5rem

.feed-subtitle
  font-size: 1rem

.see-more
  background: none
  border-width: $border-width
  border-style: solid
  text-align: center
  font-size: 1.5rem
  font-family: 'Century Gothic'
  padding: $margin-basic 0
  font-style: italic


// HOME: NOTICIAS

.small-post-title
  margin: $margin-tiny
  font-family: 'Gotham HTF'

.small-post
  border-top: $border-width solid
  margin-bottom: $margin-small

  img
    float: left


// SEARCH

#search-field, #search-submit
  box-sizing: border-box
  width 100%
  padding: $margin-small
  background-color: transparent
  border: 1px solid $color-black-soft
  height: 5rem
  &:focus
    outline: none
  .genericon
    font-size: 2rem

// EVENTS
#events
  .row
    margin-bottom: $margin-mid
.event-date
  margin: 0
  background: $color-white-soft
  height: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )

  .month
    display: block
    font-size: 1.4rem
    text-transform: capitalize

  .day
    display: block
    font-size: 2rem
    line-height: 1


.event-name
  font-size: 1.2rem

.event-venue
  font-size: 0.9rem

#more-events
  height: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )
  width: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )
  border: 2px solid $color-white-soft
  font-size: 1.2rem
  line-height: 1.2
  padding: 0 $margin-basic

// HOME TWITTER

#twitter-feed
  padding: $margin-basic 0
  margin: $margin-large 0
  overflow-x: hidden

#twitter-marquee-outer
  width: 9*9*9*9*9px

#twitter-marquee-holder, .twitter-marquee
  display: inline-block

#twitter-marquee-holder
  position: relative
  left: 0

.twitter-feed-tweet
  color: $color-white-soft
  font-weight: bold
  text-decoration: none
  display: inline-block
  width: ( 12 * $col ) + ( ( 12 - 1 ) * $gutter )
  padding: 0 $margin-basic
  vertical-align: middle

  &:visited
    color: $color-white-soft

// INSTAGRAM PARTIAL

#instagram-feed
  padding: $margin-basic 0
  margin: $margin-large 0

.instagram-item
  position: relative
  text-decoration: none
  color: $color-white-soft

.instagram-item-header
  position: absolute
  top: $margin-tiny
  left: $margin-tiny
  .genericon
    vertical-align: sub
    font-size: 1.2rem

// PAGINATION

#pagination
  margin-top: $margin-mid
  margin-bottom: $margin-mid
  .pagination-block
    padding: $margin-basic
    border-width: $border-width
    border-style: solid
  .page-numbers.current
    text-decoration: underline

.next-prev
  font-size: 1.5em
  font-family: 'Century Gothic'
  line-height: $font-leading-basic
  font-weight: bold

// SINGLE POST

#single-header
  margin-bottom: $margin-mid
  padding-bottom: $margin-basic

#single-title
  margin-top: $margin-small
  margin-bottom: $margin-tiny

#single-sidebar, #single-popular
  width: ($col * 8) + ($gutter * 8)

.single-sidebar-item
  margin-bottom: $margin-basic

#more-music
  margin-bottom: $margin-large

.single-more-post
  margin-bottom: $margin-large
  .wp-post-image, .feed-title
    margin-bottom: $margin-tiny



// PAGE

#page-header
  padding: $margin-mid 0
  margin-bottom: $margin-large

#page-content
  margin-bottom: $margin-large

// FOOTER

#footer
  background-color: $color-black-soft
  color: $color-white-soft
  font-size: 1.5rem
  line-height: $font-leading-basic
  padding-top: $margin-mid
  padding-bottom: $margin-mid
  .logo
    width: 70%
    height: auto
    path
      fill: $color-white-soft



#featured-single-header
  padding-bottom: $margin-large
  margin-bottom: $margin-large

// 404
#not-found
  margin-bottom: $margin-large

// MEDIA QUERIES

@media screen and (max-width: ($col * $cols)+($gutter * $cols))
  html
    width: 100%
