@import "kouto-swiss"

@import "fonts"

@import "helpers"
@import "genericons"

@import "loaders"

meyer-reset()
box-sizing-reset()
normalize()

// GRID OF 24 32px COLUMNS WITH 14px GUTTER
$cols = 24
$col = 32px
$gutter = 14px
.container
  margin: 0 auto
  width: ($col * $cols)+($gutter * $cols)
.row
  clearfix()
.col
  float: left
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)
  min-height: 1px

for col in 1..$cols
  .s{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )

@media screen and (min-width: 601px)

  for col in 1..$cols
    .m{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

@media screen and (min-width: 993px)

  for col in 1..$cols
    .l{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

// FLUID COLS
.percent-col
  float: left
  box-sizing: content-box
$pcols = 10
for pcol in 1..$pcols
  .s-into-{pcol}
    width: ( 100% / pcol )

@media screen and (min-width: 601px)

  for pcol in 1..$pcols
    .m-into-{pcol}
      width: ( 100% / pcol )

@media screen and (min-width: 993px)

  for pcol in 1..$pcols
    .l-into-{pcol}
      width: ( 100% / pcol )

// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 15px
$font-leading-basic = 1.35em
$font-leading-wider = 1.5em
$font-tracking-basic = 0.001em

$color-black-soft = rgb(14, 14, 14)
$color-white-soft = rgb(253, 253, 253)

$border-width = 2px

// TYPOGRAPHY

html
  font-family: sans-serif

body
  font-family: 'Gotham HTF'
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic

  &.loading #main-content
    opacity: 0

.font-century-gothic
  font-family: 'Century Gothic'

.font-condensed
  font-family: 'Gotham HTF Condensed'

.font-weight-medium
  font-weight: 500

.font-italic
  font-style: italic

h1, h2, h3, h4, h5, h6
  line-height: $font-leading-basic
  font-weight: bold

h1
  font-size: 3em
  font-family: 'Century Gothic'

h2
  font-size: 2em
  font-family: 'Century Gothic'

h3
  font-size: 1.5em
  font-family: 'Century Gothic'

p
  margin-bottom: 1em

blockquote
  font-weight: bold
  font-size: 1.3rem
  line-height: $font-leading-basic

.copy
  font-size: 1.2rem
  line-height: $font-leading-wider
  p, h1, h2, h3, h4, h5, h6
    margin-left: $col + $gutter
    margin-right: $col + $gutter
    margin-bottom: $margin-basic
  iframe
    margin: 0 auto $margin-basic auto
    width: 100%
  img
    display: block
    margin: 0 auto $margin-basic auto

  .wp-caption
    max-width: 100% !important

    img
      margin-bottom: $margin-tiny

  .wp-caption-text
    font-style: italic
    font-size: 0.8rem

  a
    text-decoration: underline

#featured-copy
  p, h1, h2, h3, h4, h5, h6
    margin: 0 ($col + $gutter) $margin-basic ($col + $gutter)
  img
    margin: $margin-mid 0

.indent
  margin-left: ( 1 * $col ) + ( ( 1 - 1 ) * $gutter )

// LINKS

a, a:active, a:visited
  color:inherit
  text-decoration: none


// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto

.rotate-text
  writing-mode: vertical-rl
  transform: rotate(180deg)


// EMBEDS

.custom-embed, .custom-embed-with-ad
  margin-top: $margin-mid
  margin-bottom: $margin-mid

.custom-embed-with-ad
  margin-left: ($col * 2) + ($gutter * 2)
  margin-right: ($col * 2) + ($gutter * 2)
  .embed
    float: left
    width: ( 10 * $col ) + ( ( 10 - 1 ) * $gutter )
    margin-right: $col + ($gutter * 2)
  .embed-ad
    float: left
    margin-top: 0 !important
    max-width: ( 5 * $col ) + ( ( 5 - 1 ) * $gutter )

.responsive-video
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

// STRUCTURE

#main-content
  padding-top: $margin-basic
  transition: opacity 300ms

// HEADER

#header-advert-space
  padding-top: $margin-small
  padding-bottom: $margin-small

#header
  margin-top: $margin-basic
  margin-bottom: $margin-basic
  .logo
    height: 3rem
    width: 140px

// DRAWERS

.header-drawer
  display: none
  padding: $margin-mid 0 $margin-large 0
  margin-bottom: $margin-basic
  font-size: 2rem
  font-weight: bold

#drawer-radio
  padding-bottom: $margin-mid

// CATEGORIES

#drawer-categorias-list
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around

  li.cat-item
    display: inline-block
    padding: $margin-basic $margin-mid

.social-icon
  svg
    width: $margin-basic
    height: $margin-basic

// FOLLOW

#drawer-follow
  text-align: center

  .container
    display: flex
    flex: row no-wrap
    justify-content: space-between


// HOME: FEATURED POST

#featured-post
  padding-bottom: $margin-large
  margin-bottom: $margin-large

#featured-post-container
  opacity: 0
  transition: opacity 300ms
  max-height: 50vh

#featured-post-title
  font-size: 3.1rem
  line-height: 1.4
  height: 100%

#featured-post-subtitle
  font-size: 2.2rem
  line-height: 1.6
  height: 100%

#featured-post-image-holder
  overflow: hidden

#featured-post-image
  display: block
  width: auto


// HOME POSTS FEED

.posts-feed
  margin-bottom: $margin-large

.feed-post,
.noticias-container
  position: relative
  margin-bottom: $margin-large

.feed-category
  font-size: 2rem
  text-align: center

.feed-title
  font-size: 1.5rem

.feed-subtitle
  font-size: 1rem

.see-more
  background: none
  display: block
  border-width: $border-width
  border-style: solid
  text-align: center
  font-size: 1.5rem
  font-family: 'Century Gothic'
  padding: $margin-basic 0
  font-style: italic

// PORTADAZZA
#portadazza-title
  margin: $margin-tiny 0

// HOME: NOTICIAS

.small-post-title
  margin: $margin-tiny
  font-family: 'Gotham HTF'

.small-post
  border-top: $border-width solid
  margin-bottom: $margin-small

  img
    float: left

// Ads
.ad
  margin-bottom: $margin-tiny

// SEARCH

#search-field, #search-submit
  box-sizing: border-box
  width 100%
  padding: $margin-small
  background-color: transparent
  border: 1px solid $color-black-soft
  height: 5rem
  &:focus
    outline: none
  .genericon
    font-size: 2rem

// EVENTS
#events
  .row
    margin-bottom: $margin-mid
.event-date
  margin: 0
  background: $color-white-soft
  height: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )

  .month
    display: block
    font-size: 1.4rem
    text-transform: capitalize

  .day
    display: block
    font-size: 2rem
    line-height: 1


.event-name
  font-size: 1.2rem

.event-venue
  font-size: 0.9rem

#more-events
  height: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )
  width: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )
  border: 2px solid $color-white-soft
  font-size: 1.2rem
  line-height: 1.2
  padding: 0 $margin-basic

// HOME TWITTER

#twitter-feed
  padding: $margin-basic 0
  margin: $margin-large 0
  overflow-x: hidden

#twitter-marquee-outer
  width: 9*9*9*9*9px

#twitter-marquee-holder, .twitter-marquee
  display: inline-block

#twitter-marquee-holder
  position: relative
  left: 0

.twitter-feed-tweet
  color: $color-white-soft
  font-weight: bold
  text-decoration: none
  display: inline-block
  width: ( 12 * $col ) + ( ( 12 - 1 ) * $gutter )
  padding: 0 $margin-basic
  vertical-align: middle

  &:visited
    color: $color-white-soft

// INSTAGRAM PARTIAL

#instagram-feed
  padding: $margin-basic 0
  margin: $margin-large 0

.instagram-item
  position: relative
  text-decoration: none
  color: $color-white-soft

.instagram-item-header
  position: absolute
  top: $margin-tiny
  left: $margin-tiny
  .genericon
    vertical-align: sub
    font-size: 1.2rem

.instagram-image
  width: 100%

// PAGINATION

#pagination
  margin-top: $margin-mid
  margin-bottom: $margin-mid
  .pagination-block
    padding: $margin-basic
    border-width: $border-width
    border-style: solid
  .page-numbers.current
    text-decoration: underline

.next-prev
  font-size: 1.5em
  font-family: 'Century Gothic'
  line-height: $font-leading-basic
  font-weight: bold

// SINGLE POST

#single-header
  margin-bottom: $margin-mid
  padding-bottom: $margin-basic

#single-title
  margin-top: $margin-small
  margin-bottom: $margin-tiny

#single-sidebar, #single-popular
  width: ($col * 8) + ($gutter * 8)

.single-sidebar-item
  margin-bottom: $margin-basic

#more-music
  margin-bottom: $margin-large

.single-more-post
  margin-bottom: $margin-large
  .wp-post-image, .feed-title
    margin-bottom: $margin-tiny

.twitter-widget
  iframe
    vertical-align: bottom

// PAGE

#page-header
  padding: $margin-mid 0
  margin-bottom: $margin-large

#page-content
  margin-bottom: $margin-large

// FOOTER

#footer
  background-color: $color-black-soft
  color: $color-white-soft
  font-size: 1.5rem
  line-height: $font-leading-basic
  padding-top: $margin-mid
  padding-bottom: $margin-mid
  .logo
    width: 70%
    height: 63px
    path
      fill: $color-white-soft

#loading
  z-index: -999
  position: fixed
  opacity: 0
  height: 100vh
  top: 0px
  left: 0px
  bottom: 0px
  right: 0px

body.loading
 #loading
    opacity: 1

.loader-inner.line-scale > div
  background-color: $color-black-soft

#featured-single-header
  padding-bottom: $margin-large
  margin-bottom: $margin-large

#featured-social-widgets
  margin-top: $margin-basic
  margin-bottom: $margin-large

#pattern-space
  height: $margin-basic

// 404
#not-found
  margin-bottom: $margin-large

// GALLERY
.gallery
  overflow: hidden
  margin: $margin-basic 0
  height: 0px

.cycle-slide
  width: 100%
  img
    margin: 0 auto $margin-tiny !important

.gallery-caption
  font-size: 1rem
  display: block

.cycle-prev,
.cycle-next
  width: 50%
  height: 100%
  position: absolute
  z-index: 101
  transition all 300ms
  bottom: 0
  svg
    margin: 6px 0 !important
    position: absolute
    bottom: 0
    height: 15px
    fill: $color-black-soft

.cycle-prev
  left: 0
  svg
    left: $margin-tiny

.cycle-next
  right: 0
  svg
    right: $margin-tiny

// MEDIA QUERIES

// Smaller screens

@media screen and (max-width: ($col * $cols)+($gutter * $cols) + $gutter)

  $cols = 24
  $col = 25px
  $gutter = 12px
  .container
    width: ($col * $cols)+($gutter * $cols)
  .col
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)

  for col in 1..$cols
    .s{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

  @media screen and (min-width: 601px)

    for col in 1..$cols
      .m{col}
        width: ( col * $col ) + ( ( col - 1 ) * $gutter )

  @media screen and (min-width: 993px)

    for col in 1..$cols
      .l{col}
        width: ( col * $col ) + ( ( col - 1 ) * $gutter )


  // VARIABLES

  $golden-ratio = 1.61803398875

  $margin-small = ($gutter)
  $margin-tiny = ($gutter / 2)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 15px
  $font-leading-basic = 1.35em
  $font-leading-wider = 1.5em
  $font-tracking-basic = 0.001em

  $border-width = 2px

  // TYPOGRAPHY

  .copy
    p, h1, h2, h3, h4, h5, h6
      margin-left: $col + ($gutter * 1.5)
      margin-right: $col + ($gutter * 1.5)
      margin-bottom: $margin-basic
    iframe
      margin: 0 auto $margin-basic auto
    img
      margin: 0 auto $margin-basic auto

  #featured-copy
    p, h1, h2, h3, h4, h5, h6
      margin: 0 ($col + ($gutter * 1.5)) $margin-basic ($col + ($gutter * 1.5))

  .indent
    margin-left: ( 1 * $col ) + ( ( 1 - 1 ) * $gutter )


  // STRUCTURE

  #main-content
    padding-top: $margin-basic

  // HEADER

  #header-advert-space
    padding-top: $margin-small
    padding-bottom: $margin-small

  #header
    margin-top: $margin-basic
    margin-bottom: $margin-basic

  // DRAWERS

  .header-drawer
    padding: $margin-mid 0 $margin-large 0
    margin-bottom: $margin-basic

  #drawer-radio
    padding-bottom: $margin-mid

  .social-icon
    svg
      width: $margin-basic
      height: $margin-basic

  // CATEGORIES

  #drawer-categorias-list
    li.cat-item
      padding: $margin-basic $margin-mid


  // HOME: FEATURED POST

  #featured-post
    padding-bottom: $margin-large
    margin-bottom: $margin-large

  // HOME POSTS FEED

  .posts-feed
    margin-bottom: $margin-large

  .feed-post,
  .noticias-container
    margin-bottom: $margin-large

  .see-more
    border-width: $border-width
    padding: $margin-basic 0


  // HOME: NOTICIAS

  .small-post-title
    margin: $margin-tiny

  .small-post
    border-top: $border-width solid
    margin-bottom: $margin-small

  // Ads
  .ad
    margin-bottom: $margin-tiny

  // SEARCH

  #search-field, #search-submit
    padding: $margin-small

  // EVENTS
  #events
    .row
      margin-bottom: $margin-mid
  .event-date
    height: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )

  #more-events
    height: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )
    width: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )
    padding: 0 $margin-basic

  // HOME TWITTER

  #twitter-feed
    padding: $margin-basic 0
    margin: $margin-large 0

  .twitter-feed-tweet
    width: ( 12 * $col ) + ( ( 12 - 1 ) * $gutter )
    padding: 0 $margin-basic

  // INSTAGRAM PARTIAL

  #instagram-feed
    padding: $margin-basic 0
    margin: $margin-large 0

  .instagram-item-header
    top: $margin-tiny
    left: $margin-tiny

  // PAGINATION

  #pagination
    margin-top: $margin-mid
    margin-bottom: $margin-mid
    .pagination-block
      padding: $margin-basic
      border-width: $border-width

  // SINGLE POST

  #single-header
    margin-bottom: $margin-mid
    padding-bottom: $margin-basic

  #single-title
    margin-top: $margin-small
    margin-bottom: $margin-tiny

  #single-sidebar, #single-popular
    width: ($col * 8) + ($gutter * 8)

  .single-sidebar-item
    margin-bottom: $margin-basic

  #more-music
    margin-bottom: $margin-large

  .single-more-post
    margin-bottom: $margin-large
    .wp-post-image, .feed-title
      margin-bottom: $margin-tiny

  // PAGE

  #page-header
    padding: $margin-mid 0
    margin-bottom: $margin-large

  #page-content
    margin-bottom: $margin-large

  // FOOTER

  #footer
    padding-top: $margin-mid
    padding-bottom: $margin-mid

  #featured-single-header
    padding-bottom: $margin-large
    margin-bottom: $margin-large

  #featured-social-widgets
    margin-top: $margin-basic
    margin-bottom: $margin-large

  // 404
  #not-found
    margin-bottom: $margin-large

  // GALLERY
  .gallery
    margin: $margin-basic 0

  .cycle-slide
    img
      margin: 0 auto $margin-tiny !important

  .cycle-prev
    svg
      left: $margin-tiny

  .cycle-next
    svg
      right: $margin-tiny


// iPad / tablet size

@media screen and (max-width: 888px + $gutter)

  $cols = 24
  $col = 20px
  $gutter = 10px
  .container
    width: ($col * $cols)+($gutter * $cols)
  .col
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)

  for col in 1..$cols
    .s{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

  @media screen and (min-width: 601px)

    for col in 1..$cols
      .m{col}
        width: ( col * $col ) + ( ( col - 1 ) * $gutter )

  @media screen and (min-width: 993px)

    for col in 1..$cols
      .l{col}
        width: ( col * $col ) + ( ( col - 1 ) * $gutter )

  // VARIABLES

  $golden-ratio = 1.61803398875

  $margin-small = ($gutter)
  $margin-tiny = ($gutter / 2)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 13px
  $font-leading-basic = 1.35em
  $font-leading-wider = 1.5em
  $font-tracking-basic = 0.001em

  $border-width = 2px

  // TYPOGRAPHY

  body
    font-size: $font-size-basic
    line-height: $font-leading-basic
    letter-spacing: $font-tracking-basic

  h1
    font-size: 2.2em
    font-family: 'Century Gothic'

  h2
    font-size: 1.6em
    font-family: 'Century Gothic'

  h3
    font-size: 1.2em
    font-family: 'Century Gothic'

  .copy
    font-size: 1rem
    p, h1, h2, h3, h4, h5, h6
      margin-left: $col + ($gutter * 1.5)
      margin-right: $col + ($gutter * 1.5)
      margin-bottom: $margin-basic
    iframe
      margin: 0 auto $margin-basic auto
    img
      margin: 0 auto $margin-basic auto

  #featured-copy
    p, h1, h2, h3, h4, h5, h6
      margin: 0 ($col + ($gutter * 1.5)) $margin-basic ($col + ($gutter * 1.5))

  .indent
    margin-left: ( 1 * $col ) + ( ( 1 - 1 ) * $gutter )

  .feed-category
    font-size: 1.1rem

  // STRUCTURE

  #main-content
    padding-top: $margin-basic

  // HEADER

  #header-advert-space
    padding-top: $margin-small
    padding-bottom: $margin-small

  #header
    margin-top: $margin-basic
    margin-bottom: $margin-basic

  // DRAWERS

  .header-drawer
    font-size: 1.1rem
    padding: $margin-mid 0 $margin-large 0
    margin-bottom: $margin-basic

  #drawer-radio
    padding-bottom: $margin-mid

  // CATEGORIES

  #drawer-categorias-list
    li.cat-item
      padding: $margin-basic $margin-mid

  .social-icon
    svg
      width: $margin-basic
      height: $margin-basic


  // HOME: FEATURED POST

  #featured-post
    padding-bottom: $margin-large
    margin-bottom: $margin-large

  #featured-post-title
    font-size: 2rem

  #featured-post-subtitle
    font-size: 1.5rem

  // HOME POSTS FEED

  .posts-feed
    margin-bottom: $margin-large

  .feed-post,
  .noticias-container
    margin-bottom: $margin-large

  .see-more
    border-width: $border-width
    padding: $margin-basic 0


  // HOME: NOTICIAS

  .small-post-title
    margin: $margin-tiny

  .small-post
    border-top: $border-width solid
    margin-bottom: $margin-small

  // Ads
  .ad
    margin-bottom: $margin-tiny

  // SEARCH

  #search-field, #search-submit
    padding: $margin-small

  // EVENTS
  #events
    .row
      margin-bottom: $margin-mid
  .event-date
    height: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )

  #more-events
    height: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )
    width: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )
    padding: 0 $margin-basic

  // HOME TWITTER

  #twitter-feed
    padding: $margin-basic 0
    margin: $margin-large 0

  .twitter-feed-tweet
    width: ( 12 * $col ) + ( ( 12 - 1 ) * $gutter )
    padding: 0 $margin-basic

  // INSTAGRAM PARTIAL

  #instagram-feed
    padding: $margin-basic 0
    margin: $margin-large 0

  .instagram-item-header
    top: $margin-tiny
    left: $margin-tiny

  // PAGINATION

  #pagination
    margin-top: $margin-mid
    margin-bottom: $margin-mid
    .pagination-block
      padding: $margin-basic
      border-width: $border-width

  // SINGLE POST

  #single-header
    margin-bottom: $margin-mid
    padding-bottom: $margin-basic

  #single-title
    margin-top: $margin-small
    margin-bottom: $margin-tiny

  #single-sidebar, #single-popular
    width: ($col * 8) + ($gutter * 8)

  .single-sidebar-item
    margin-bottom: $margin-basic

  #more-music
    margin-bottom: $margin-large

  .single-more-post
    margin-bottom: $margin-large
    .wp-post-image, .feed-title
      margin-bottom: $margin-tiny

  // PAGE

  #page-header
    padding: $margin-mid 0
    margin-bottom: $margin-large

  #page-content
    margin-bottom: $margin-large

  // FOOTER

  #footer
    font-size: 1.1rem
    padding-top: $margin-mid
    padding-bottom: $margin-mid

  #featured-single-header
    padding-bottom: $margin-large
    margin-bottom: $margin-large

  #featured-social-widgets
    margin-top: $margin-basic
    margin-bottom: $margin-large

  // 404
  #not-found
    margin-bottom: $margin-large

  // GALLERY
  .gallery
    margin: $margin-basic 0

  .cycle-slide
    img
      margin: 0 auto $margin-tiny !important

  .cycle-prev
    svg
      left: $margin-tiny

  .cycle-next
    svg
      right: $margin-tiny

// MOBILE

@media screen and (max-width: 720px)

  $gutter = 14px

  // VARIABLES

  $golden-ratio = 1.61803398875

  $margin-small = ($gutter)
  $margin-tiny = ($gutter / 2)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 13px
  $font-leading-basic = 1.35em
  $font-leading-wider = 1.5em
  $font-tracking-basic = 0.001em

  $border-width = 2px

  .container
    width: 100%
    padding: 0 $margin-small
  .col
    float: none
    margin-left: 0
    margin-right: 0
    width: 100%

  // TYPOGRAPHY

  body
    font-size: $font-size-basic
    line-height: $font-leading-basic
    letter-spacing: $font-tracking-basic

  h1
    font-size: 2.2em
    font-family: 'Century Gothic'

  h2
    font-size: 1.6em
    font-family: 'Century Gothic'

  h3
    font-size: 1.2em
    font-family: 'Century Gothic'

  .copy
    font-size: 1rem
    p, h1, h2, h3, h4, h5, h6
      margin-left: 0
      margin-right: 0
      margin-bottom: $margin-basic
    iframe
      margin: 0 auto $margin-basic auto
    img
      margin: 0 auto $margin-basic auto

  #featured-copy
    p, h1, h2, h3, h4, h5, h6
      margin: 0 0 $margin-basic 0

  .indent
    margin-left: ( 1 * $col ) + ( ( 1 - 1 ) * $gutter )

  .feed-category
    font-size: 1.6rem
    text-align: left
    margin-bottom: $margin-small

  .rotate-text
    writing-mode: unset
    transform: rotate(0deg)

  // STRUCTURE

  #main-content
    padding-top: $margin-tiny

  .hide-on-mobile
    display: none

  // HEADER

  #header-advert-space
    display: none

  #header
    margin-top: $margin-small
    margin-bottom: $margin-small
    .row
      display: flex
    .logo
      height: 2rem
      padding-right: $margin-basic

  // DRAWERS

  .header-drawer
    font-size: 1.1rem
    padding: $margin-small 0 $margin-basic 0
    margin-bottom: $margin-small

  #drawer-radio
    padding-bottom: $margin-small

  .social-icon
    svg
      width: $margin-basic
      height: $margin-basic

  // Ads
  .ad
    margin-bottom: $margin-tiny

  // SEARCH

  #search-field-holder
    width: 70%
    float: left

  #search-submit-holder
    width: 28%
    margin-left: 2%
    float: left

  #search-field, #search-submit
    height: 4rem
    .genericon
      font-size: 1.5rem

  // CATEGORIES

  #drawer-categorias-list
    li.cat-item
      padding: $margin-small $margin-tiny


  // HOME FEATURED POST

  #featured-post-container,
  #featured-post-title-holder,
  #featured-post-title,
  #featured-post-subtitle-holder,
  #featured-post-subtitle,
  #featured-post-image-holder
    max-height: initial
    min-height: auto

  #featured-post, #featured-single-header
    padding-bottom: $margin-basic
    margin-bottom: $margin-basic

  #featured-post-container
    display: block

  #featured-post-title-holder
    min-height: auto

  #featured-post-title
    font-size: 2rem

  #featured-post-subtitle-holder
    margin: 0 0 $margin-small 0

  #featured-post-subtitle
    font-size: 1.5rem

  #featured-post-image-holder
    margin: 0
    max-width: 100%

  #featured-post-image
    max-width: 100%


  // HOME POSTS FEED

  .attachment-index-post-thumb
    float: left
    width: 48%
    margin-right: 4%

  .attachment-index-post-thumb-portrait
    float: left
    width: 40%
    margin-right: 12%

  .ad
    float: none
    width: 100%
    text-align: center
    margin-bottom: $margin-large
    clearfix()

  .posts-feed
    margin-bottom: 0

  .feed-post
    width: 100%
    margin-bottom: $margin-large

  .feed-title
    font-size: 1.2rem

  .feed-subtitle
    display: none

  .see-more
    border-width: $border-width
    padding: $margin-basic 0


  // SMALL POSTS

  .small-post-title
    margin: $margin-tiny

  .small-post
    border-top: $border-width solid
    margin-bottom: $margin-small
    img
      float: left
      max-width: 48%
      margin-right: 4%
    h4
      float: left
      max-width: 48%


  // SEARCH

  #search-field, #search-submit
    padding: $margin-small


  // EVENTS

    // HOME

  #events
    .row
      margin-bottom: 0

  .home
    #events
      margin-top: $margin-large
    .feed-category
      margin-bottom: $margin-basic

  .event-item
    width: 100%
    margin-bottom: $margin-basic
    .s3
      width: 48%
      margin-right: 4%
      float: left
    .event-date
      width: 100%
      height: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )

  .event-info
    width: 48%
    float: left
    margin-top: 2%

  #more-events
    height: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )
    width: ( 3 * $col ) + ( ( 3 - 1 ) * $gutter )
    padding: 0 $margin-basic


  // PAGINATION

  #pagination
    margin-top: $margin-mid
    margin-bottom: $margin-mid
    .pagination-block
      display: block
      width: 100%
      padding: $margin-basic
      border-width: $border-width
      margin-bottom: $margin-small


  // SINGLE POST

  .custom-embed-with-ad
    margin-left: 0
    margin-right: 0
    .embed
      float: none
      width: 100%
      margin-right: 0
      margin-bottom: $margin-small
    .embed-ad
      float: none
      max-width: 100%

  #single-header
    margin-bottom: $margin-basic
    padding-bottom: $margin-small

  #single-ad-header
    display: none

  #single-title
    margin-top: $margin-small
    margin-bottom: $margin-tiny

  #single-subtitle
    margin-bottom: $margin-tiny

  #single-sidebar, #single-popular
    width: 100%
    float: none

  .single-sidebar-item
    margin-bottom: $margin-basic

  #more-music
    margin-bottom: $margin-large

  .single-more-post
    margin-bottom: $margin-mid
    clearfix()
    .wp-post-image, .feed-title
      float: left
      width: 48%
      margin-bottom: $margin-tiny
    .wp-post-image
      margin-right: 4%
    .feed-subtitle
      display: none


  // PAGE

  #page-header
    padding: $margin-mid 0
    margin-bottom: $margin-basic

  #page-content
    margin-bottom: $margin-basic


  // FOOTER

  #footer
    font-size: 1.1rem
    padding-top: $margin-mid
    padding-bottom: $margin-mid
    .logo
      width: 30%
      margin-bottom: $margin-basic

  #featured-social-widgets
    margin-top: $margin-basic
    margin-bottom: $margin-large

  // 404
  #not-found
    margin-bottom: $margin-large

  // GALLERY
  .gallery
    margin: $margin-basic 0

  .cycle-slide
    img
      margin: 0 auto $margin-tiny !important

  .cycle-prev
    svg
      left: $margin-tiny

  .cycle-next
    svg
      right: $margin-tiny

  // Ads
  div[id^='div-gpt-ad']
    margin: 0 auto
